<!DOCTYPE html>
<html>
<head>

</head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
        {{>header}} 
        <p>This site was created by ME. It uses dats from Darksky.</p>
        <img class="portrait" src="/img/Header_Promo_2019.jpg">
    </div>
    
    {{>footer}}
</body>

</html>